extends layout

block content
  h1= title
  section
    p This web page is just for testing use.

  if errorMessage != '' || message != ''
    section
    if errorMessage != ''
      pre.message.message--error #{errorMessage}
    if message != ''
      pre.message.message--success
        if movieId != ''
          a(href='http://youtu.be/' + movieId) #{movieId}
        | #{message}

  section
    if (isAuthed)
      form.form(method="post", action="/upload", enctype="multipart/form-data")
        div.form__field
          label(for="ttt") title
          input#ttt(type="text" name="nice_title" value="default title...")
        div.form__field
          label(for="fff") movie
          input#fff(type="file" name="nice_attachment")
        div.form__field.center
          input(type="submit", value="Start Upload")
    else
      a(href="/authenticate") First please authenticate.

  section.center
    a(href="https://www.youtube.com/my_videos") Your all videos↗
    if (isAuthed)
      span.separator
        | |
      a(href="/logout") logout
