body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.msg {
  background: red;
  color: white;
  padding: 16px;
}

form {
  padding: 16px;
  border: #ccc 1px solid;
  margin-bottom: 16px;
}
