body {
  padding: 16px 32px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
section {
  margin-bottom: 32px;
}
a {
  color: #00B7FF;
}

.center {
  text-align: center;
}
.separator {
  margin: 0 8px;
}

.message {
  padding: 16px;
}
.message,
.message a {
  color: white;
}
.message a {
  margin-right: 8px;
}
.message--error { background: orangered }
.message--success { background: limegreen }

.form {
  padding: 16px;
  border: #ccc 1px solid;
  margin-bottom: 16px;
}
.form__field {
  display: flex;
  margin: 16px;
}
.form__field label {
  width: 30%;
  padding-right: 16px;
  text-align: right;
  font-style: italic;
}
.form__field input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 480px) {
  body {
    padding: 32px 64px;
  }
  .form__field {
    display: flex;
  }
}

